.DS_Store
node_modules/
.env
config.json
config/formats.json

cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
