.DS_Store
node_modules/
.env
config.json
!config/config.default.json
!config/config.test.json
!config/config.debug.json

formats/
!test/formats/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.nyc_output/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
