<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    body {
      margin: 20px;
    }
    a:link, a:visited {
      text-decoration: none;
      color: rgb(96, 143, 219);
    }
    a:hover, a:active {
      text-decoration: underline;
    }
    </style>
  </head>
  <body>
    <h1><%= config.title %></h1>
    <p>
      <%= config.description %>
    </p>
    <p>
      See documentation <a href="https://github.com/gbv/validation-service" target="_blank">on GitHub</a> for details.
    </p>
    <h3>API Endpoints</h3>
    <ul>
      <li>POST /validate - validate data (<a href="https://github.com/gbv/validation-service#post-validate" target="_blank">documentation</a>)</li>
      <li>GET <a href="validate">/validate</a> - validate data (<a href="https://github.com/gbv/validation-service#get-validate" target="_blank">documentation</a>)</li>
      <li>GET <a href="formats">/formats</a> - list supported data formats (<a href="https://github.com/gbv/validation-service#get-formats" target="_blank">documentation</a>)</li>
      <li>GET <a href="schema">/schema</a> - get a known schema (<a href="https://github.com/gbv/validation-service#get-schema" target="_blank">documentation</a>)</li>
    </ul>
  </body>
  <footer>
    <p>
      validation-service version <%= config.version %>
    </p>
  </footer>
</html>
