      </div>
      <footer class="container">
        <p>
          Powered by <a href="https://github.com/gbv/validation-server" target="_blank">validation-server</a> version <%= version %>.
        </p>
        </p>
      </footer>
    </div>
  </body>
</html>
