      </div>
      <footer class="container">
        <p>
          Powered by <a href="https://github.com/gbv/validation-server" target="_blank">validation-server</a> version <%= version %>.
          <% if (locals?.provider) { %>
            provided by <%- include("link", { link: provider }) %>
          <% } %>
          <% if (locals?.links) { for(let link of links) { %>
            | <%- include("link", { link }) %>
          <% } } %>
        </p>
        </p>
      </footer>
    </div>
  </body>
  <script type="text/javascript" src="<%=root%>script.js"></script>
</html>
