<form method="POST" enctype="multipart/form-data" id="validateFile" action="<%=root + format.id %>">
  <input type="file" name="file">
  <input type="submit" value="validate file">
  <% if (format.base === "json") { %>
    <input type="checkbox" name="select" value="$.*">
    <label for="select">JSON array</label>
  <% } %>
</form>
