<form method="POST" enctype="multipart/form-data" id="validateFile" action="<%=root + format.id %>">
  <input type="file" name="file">
  <input type="hidden" name="select" value="">
  <input type="hidden" name="encoding" value="">
  <input type="submit" value="validate file">
</form>
